.hero-heading-center {
  position: relative;
  padding: 80px 30px;
  border-bottom: 1px solid hsla(212.00000000000006, 38.46%, 92.35%, 1.00);
  background-color: hsla(216, 33.33%, 97.06%, 1.00);
}

@media screen and (max-width: 767px) {
  .hero-heading-center {
    padding: 60px 15px;
  }
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 991px) {
  .container-2 {
    max-width: 728px;
  }
}

@media screen and (max-width: 479px) {
  .container-2 {
    max-width: none;
  }
}

.centered-heading {
  margin-bottom: 16px;
  text-align: center;
}

@media screen and (max-width: 479px) {
  .centered-heading {
    margin-bottom: 24px;
  }
}

.centered-heading.margin-bottom-32px {
  margin-bottom: 32px;
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .hero-wrapper {
    margin-bottom: -40px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.hero-split {
  display: flex;
  max-width: 46%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: 991px) {
  .hero-split {
    max-width: 100%;
    margin-bottom: 40px;
  }
}

.margin-bottom-24px {
  margin-bottom: 24px;
}

.button-primary {
  padding: 12px 25px;

  background-color: #1a1b1f;

  transition: all 200ms ease;

  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-primary:hover {
  background-color: #32343a;
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.button-primary:active {
  background-color: #43464d;
}

.shadow-two {
  box-shadow: 0 4px 24px 0 hsla(214.83870967741936, 17.32%, 64.90%, 0.08);
}